* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", "cursive";
}
body {
  padding: 30px;
  margin: 23px 200px;
}
.bg-img {
  position: absolute;
  z-index: -1;
  height: 95vh;
  width: 69vw;
  object-fit: cover;
}
.container {
  background-color: rgba(41, 44, 75, 0.781);
}

.navbar {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
}

.list {
  color: gold;
  display: flex;
  margin-left: 180px;
}
.list-item {
  margin-right: 60px;
  list-style: none;
}
.logo {
  height: 30px;
}
.button-small {
  margin-left: 100px;
  padding: 10px 35px;
  background-color: rgb(196, 55, 55);
  color: white;
  border: none;
}

.hero {
  margin-top: 80px;
  text-align: center;
}
.hero-heading {
  color: gold;
  font-size: 100px;
  margin-left: 75px;
  margin-right: 75px;
  line-height: 95px;
}
.button-large {
  margin-top: 40px;
  padding: 15px 42px;
  background-color: rgb(196, 55, 55);
  color: white;
  border: none;
  font-size: xx-large;
}
.bottom {
  margin-left: 880px;
}
