body {
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 15px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  /* margin-left: 200px; */
  font-size: 22px;
}
.nav-item {
  margin-left: 100px;
}
.actions {
  /* margin-left: 240px; */
}
.intro-section {
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: auto auto; */
}
.left-section {
  font-size: 30px;
}
.H1 {
  font-size: 70px;
  font-family: "Fredoka One";
}
.sub-headlines {
  margin-left: 70px;
  font-size: 25px;
  margin-top: -15px;
}
.text {
  font-size: small;
  width: 570px;
  margin-top: 70px;
  margin-bottom: 63px;
  color: rgb(176, 176, 176);
}
.sub-headline {
  margin-bottom: -25px;
}
.action-btns {
  margin-left: 6px;
  margin-top: 30px;
}
.action-btn {
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #fe5e35;
  color: white;
  border: 1px solid #fe5e35;
  font-size: large;
}
.right-section {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* margin-left: 30px; */
  /* align-items: center; */
}
.headphone-div {
}
.headphone-img {
  margin-left: 120px;
  height: 500px;
}
.discount {
  /* margin-bottom: 80px; */
  margin-top: -239px;
  margin-left: 83px;
  height: 150px;
  /* padding-top: -40px; */
  position: absolute;
}
.discount-content {
  position: absolute;
  margin-top: -225px;
  margin-left: 128px;

  color: white;
}
.discount-number {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  margin-left: -15px;
  margin-top: -28px;
}
.plus {
  height: 20px;
  background-color: #fe5e35;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.yellow-dot {
  background-color: yellow;
}
.tomato-dot {
  background-color: tomato;
}
.black-dot {
  background-color: black;
}
.dots {
  display: flex;
  margin-left: 10px;
}
.dot-btn {
  margin-left: 300px;
}
