/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Edu+TAS+Beginner&family=Fredoka+One&family=Ibarra+Real+Nova:ital,wght@1,600&family=Lato:ital,wght@0,900;1,300&family=Montserrat:ital,wght@1,500;1,700&family=Oswald:wght@700&family=Raleway:ital,wght@1,100&family=Roboto:wght@500;700;900&family=Source+Sans+Pro:wght@700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: white;
  margin-right: 30px;
}
.nav-item {
  margin-right: 40px;
  font-size: 15px;
}
.nav-item-active {
  background-color: white;
  color: rgb(64, 41, 218);
  border-radius: 2px;
  margin-right: 25px;
  padding: 2px 6px;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo {
  margin: -15px 0 0 -15px;
}
.header {
  padding: 15px 0 0 50px;
  /* background: linear-gradient(90deg, #341fab 0%, #e9a9f9 100%); */
  background-color: #491bfd;
  color: white;
  height: 68vh;
}
.bar {
  display: flex;
  justify-content: space-between;
}
.header-text {
  margin-top: 40px;
}
.header-image {
  width: 700px;
  height: 520px;
}
.h2 {
  font-size: 40px;
}
.p {
  font-size: 18px;
}
.companies {
  justify-content: space-between;
  margin: 30px 0 0 60px;
}
.company-items {
  color: rgb(1, 1, 40);
  font-size: 27px;
  justify-content: space-evenly;
  margin-right: 50px;
  font-family: "Roboto";
}
.api {
  /* margin-top: 50px; */
  /* margin-left: 30px; */
  margin: 50px 0 50px 30px;
}
.card-head-active {
  color: #ccbffe;
}
.card-active {
  background-color: #ffffff;
}
.api-heading {
  font-size: 40px;
  font-weight: bolder;
  margin-left: 40px;
  margin-bottom: 50px;
  line-height: 50px;
  /* font-family: "Poppins"; */
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 50px;
}
/* .card {
  margin-right: 10px;
} */
.fa-solid fa-angle-right {
  background-color: #341fab;
  justify-content: center;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.blog-heading {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.small-content {
  color: #341fab;
}
.blog-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 55vh;
}
.blog-card {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  margin-right: 80px;
}
.blog-content {
  margin-left: 60px;
}
.h6 {
  color: #341fab;
}
.faq-section {
  background-color: #e9edff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq-content {
  /* padding-left: 40px; */
  margin-left: 58px;
}
.h2 {
  line-height: 43px;
}
.lh50 {
  line-height: 50px;
}
.btn {
  color: white;
  background-color: #5a31fc;
  border: none;
  border-radius: 4px;
  padding: 12px 30px;
  font-size: 8px;
}
.download-section {
  display: flex;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
}
.download-content {
  margin-left: 60px;
}
.span {
  font-family: monospace;
}
.download-email {
  width: 570px;
  margin-right: 130px;
  position: relative;
}
.btn-dow {
  position: absolute;
  top: 0;
  border-radius: 25px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 2px;
  right: -30px;
  height: 43px;
  width: 140px;
  cursor: pointer;
  color: white;
  background-color: #5a31fc;
  transform: translateX(2px);
  /* margin-left: 20px; */
}
#enter {
  margin: 0px;
  padding: 6px;
  width: 100%;
  outline: none;
  height: 35px;
  padding-left: 30px;
  border-radius: 25px;
  background-color: #e9edff;
  color: black;
  border: none;
}
.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: #4718fe;
  height: 35vh;
}
.footer-left {
  color: white;
  margin: 80px 0 0 80px;
}
.list {
  margin-left: -84px;
  margin-top: 20px;
  font-size: 12px;
}
.list-items {
  margin-left: 30px;
}
.footer-right {
  color: wheat;
  margin: 40px 0 30px 265px;
  font-size: 12px;
}
.footer-logos {
  margin-right: 20px;
}
.logos-list {
  margin-left: 145px;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.logos-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.line {
  border: 0.5px solid white;
  margin-left: 20px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}
.small-content {
  margin-right: -310px;
  margin-top: 100px;
  font-size: medium;
}
